<launch>
    <!-- Load controller settings -->
    <arg name="simulation_mode" value="true" />
    
    <rosparam file="$(find niryo_one_driver)/config/niryo_one_controllers.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
        args="joint_state_controller niryo_one_follow_joint_trajectory_controller
        --shutdown-timeout 1"/>

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
</launch>
