<launch>

    <arg name="execute_on_niryo_one_raspberry_pi_image" value="false"/>
    <arg name="urdf_without_meshes" default="false" />
    <include file="$(find niryo_one_bringup)/launch/niryo_one_base.launch" pass_all_args="true"/>

    <include file="$(find niryo_one_bringup)/launch/sim_controllers.launch">
        <arg name="simulation_mode" value="true" />
    </include>

    <node pkg="niryo_one_bringup" name="predictions_consumer" type="consumer-final.py" output="screen"/>

</launch>
